{
  "_id": "110e8300664400445500",
  "name": "Michele McLaughlin",
  "description": "Michele McLaughlin is an American New-age music Billboard charts pianist and composer. ",
  "imageURL": "https://cdn.shopify.com/s/files/1/0011/2394/2451/files/IMG_4706a_fav_web_500x.jpg?v=1521599775"
}
