[
  {
    "albumId": "183100e366104d440550",
    "albumName": "A Celtic Dream",
    "imageURL": "https://f4.bcbits.com/img/a2050517431_10.jpg"
  },
  {
    "albumId": "183100e366104d440551",
    "albumName": "TRON: Legacy R3CONF1GUR3D",
    "imageURL": "http://ecx.images-amazon.com/images/I/51Tvo-iArBL.jpg"
  },
  {
    "albumId": "183100e366104d440552",
    "albumName": "TRON: Legacy",
    "imageURL": "http://upload.wikimedia.org/wikipedia/en/3/39/Tron_Legacy_Soundtrack.jpg"
  }
]
