{
  "artistId": "110e8300664400445500",
  "artistName": "Michele McLaughlin",
  "description": "Michele McLaughlin is an American New-age music Billboard charts pianist and composer. ",
  "imageURL": "https://cdn.shopify.com/s/files/1/0011/2394/2451/files/IMG_4706a_fav_web_500x.jpg?v=1521599775"
  "albums": [
    {
      "albumId": "183100e366104d440550",
      "albumName": "A Celtic Dream",
      "imageURL": "https://f4.bcbits.com/img/a2050517431_10.jpg"
    },
    {
      "albumId": "183100e366104d440551",
      "albumName": "TRON: Legacy R3CONF1GUR3D",
      "imageURL": "http://ecx.images-amazon.com/images/I/51Tvo-iArBL.jpg"
    },
    {
      "albumId": "183100e366104d440552",
      "albumName": "TRON: Legacy",
      "imageURL": "http://upload.wikimedia.org/wikipedia/en/3/39/Tron_Legacy_Soundtrack.jpg"
    }
  ]
}
