{
  "_id": "550e8400446655440000",
  "title": "A Celtic Dream",
  "duration": "1:43",
  "artist": {
    "_id": "110e8300664400445500",
    "name": "Michele McLaughlin",
    "imageURL": "https://cdn.shopify.com/s/files/1/0011/2394/2451/files/IMG_4706a_fav_web_500x.jpg?v=1521599775"
  }
}
