extends layout

block content
  h1 Album name: #{album.name}
  
  p #[strong Artist:] #{album.artist.name}

   
  p #[strong Songs:] #[album.songs]
  

    hr
    p
      a(href=song.url+'/delete') Delete Album
    