doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a(href="/").w3-bar-item.w3-button Home
      if locals.user
        a(href="/user" id="profileDropDown").w3-bar-item.w3-button Profile
        a(id="qsLogoutBtn" href="/hub/user/logout").w3-bar-item.w3-button Log Out
      else
        a(id="qsLoginBtn" href="/hub/user/login").w3-bar-item.w3-button Log In
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/hub') Home
              li 
                a(href='/hub/songs') All songs
              li 
                a(href='/hub/artists') All artists
            
                hr
              li 
                a(href='/hub/artist/create') Create new artist
              li 
                a(href='/hub/song/create') Create new song
             
                
        div(class='col-sm-10')
          block content
