extends layout

block content


  h1 User: #{user.email}
  
  
  
  div(style='margin-left:20px;margin-top:20px')


    hr
    p
      a(href=user.url+'/delete') Delete user
    p
      a(href=user.url+'/update') Update user